@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

:root {
  --dark: #262e38;
  --light-blue: #4f8ff7;
  --blue: #216fed;
  --red: #de4343;
}

body {
  width: 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.actionsContainer {
  text-align: center;
  width: 100%;
}

.actionsContainer button {
  border: 0;
  border-radius: 0.6em;
  padding: 1em;
  margin-right: 1em;
  background: #216fed;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 0.6s;

  margin-top: 1em;
}

button:hover {
  background: #4f8ff7;
}

@media (max-width: 303px) {
  .actionsContainer button {
    font-size: 16px;
  }
}
